<style>
  link {
    color: #9988D5;
  }
  a, a:link, a:visited {
    color: #CBC3E3;
    text-decoration: none;
  }
  a:hover {
    color: purple;
    background-color: #ffffff;
  }
  body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    vertical-align: bottom;
    color: #505050;
  }
  .center {
    margin: auto;
    width: 65%;
    padding: 10px;
  }
  hr{
    padding: 0px;
    margin: 0px;    
  }
